<h1>task index</h1>
<p>this is just to see all tasks</p>
<ul>
<% @tasks.each do |task| %>
  <li>
  <% if task.completed %>
    <input type= "checkbox" checked >
    <%#= link_to "far fa-trash-alt", task_path(task),
        method: :delete,
        data: { confirm: "Are you sure?" } %>
  <% else %>
    <input type="checkbox">
  <% end %>
  <%= link_to task.title, task_path(task)%>
  <%= link_to task_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" } do
        %>
        <i class="far fa-trash-alt"></i>

    <% end %>
  </li>
<% end %>
</ul>
<%= link_to "create task", tasks_new_path%>
